<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<main>
  {% include header.html %} {% include bio.html %}
  <section class="articles">
    <article class="article">
      <a>📌</a>
      <video width="100%" poster="assets/images/explanatory-frame.jpg" controls>
        <source src="assets/videos/explanatory.mp4" type="video/mp4">
      </video>
    </article>
    {% for post in site.posts %}
    {% if post.is_image %}
    <article class="article">
      <img src="{{ post.content_url }}" alt="">
    </article>
    {% else %}
    <article class="article">
      <div class="categories">
        {% for c in post.categories %}
        <a href="#!" data-base-url="{{site.baseurl}}" class="category"
        >{{c}}</a
        >
        {% endfor %}
      </div>
      <small class="date">
        {{post.date | date_to_string}}
        <a href="{{post.content_url}}">🔍</a>
      </small>
    </article>
    {% endif %}
    {%endfor%}
  </section>
  {% include footer.html %}
</main>
{% include category-modal.html%}
</body>
</html>
